<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--
      Cambiar el Data Source segun el SQL Server instalado:
        LocalDB    -> (localdb)\MSSQLLocalDB
        SQL Express -> .\SQLEXPRESS
    -->
    <add name="TiendaGamerDB"
         connectionString="Data Source=.;Initial Catalog=TiendaGamer;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
</configuration>
